
body {
  background-image: url('../media/gifs/space.gif');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.central-element {
  text-align: center;
  padding: 20px;
}

.central-element {
  text-align: center;
  padding: 20px;
  color: white;
}

.central-element .gameTitle {
  font-size: 36px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
  font-size: 30px;
}