body {
  background-image: url('../media/gifs/background_inmerse.gif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.fondo_tabla {
  background-color: aliceblue;
}

.centered-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  border-radius: 5%;
}